.headerimg{
    width: 100%;
}
body {
    margin: 0;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar{
    display: none;
}

.menuItem{
    display: inline-block;
    padding: 10px 8.23%;
    color: white;
    font-size: 3.2vw;
    width: 5%;
}

#menu{
    width: 100%;
    position: fixed;
    top: 0;
}
